In [ ]:
Radius=input('what is the radius(in unit) of the circle? ')
Radius=int(Radius)
pi=float(22/7)
Area=pi*pow(Radius,2)
msg=f'The area of the circle is:{Area} sq.unit'
print(msg)

what is the radius(in unit) of the circle? 5
The area of the circle is:78.57142857142857 sq.unit

In [ ]:
FirstName=input('What is your first name? ')
L_Name=input('What is your last name? ')
msg=f'{L_Name} {FirstName}'
print(msg)

What is your first name? Sathya
What is your last name? Kumar
Kumar Sathya

In [ ]:
SeqNum=input('Provide a finite sequence of comma-separated numbers: ').split(',')
List=f'List:{SeqNum}'
print(List)
print('Tuple:' ,tuple(SeqNum))

Provide a finite sequence of comma-separated numbers: 2,21,22,45,32
List:['2', '21', '22', '45', '32']
Tuple: ('2', '21', '22', '45', '32')

In [ ]:
Filename1= input('Enter first filename: ')
Filename2= input('Enter second filename: ')
f1=Filename1.split('.')
f2=Filename2.split('.')
print('The extension of the first filename is: '+f1[-1])
print('The extension of the second filename is: '+f2[-1])

Enter first filename: vetri.m
Enter second filename: MA5261.exe
The extension of the first filename is: m
The extension of the second filename is: exe

In [ ]:
n=float(input('Enter the value of n: '))
x=float(input('Enter the value of x: '))
y=float(input('Enter the value of y: '))
print('Output1(The value of (x+y)^n)=',pow(x+y,n))
print('output2(The value of (2x+3y)^n)=',pow(2*x+3*y,n))

Enter the value of n: 2
Enter the value of x: 3
Enter the value of y: 2
Output1(The value of (x+y)^n)= 25.0
output2(The value of (2x+3y)^n)= 144.0

In [ ]:
import math
theta=float(input('Enter the value of theta: '))
a=pow(math.sin(theta),2)+pow(math.cos(theta),2)
b=math.sin(theta)/theta
print('sin(theta)^2+cos(theta)^2=',a)
print('sin(theta)/theta=',b)

Enter the value of theta: 0.001
sin(theta)^2+cos(theta)^2= 1.0
sin(theta)/theta= 0.9999998333333416