In [ ]:
fruits=['Apple','Orange','Grapes','Banana','Papaya']
print('First Item:',fruits[0],'\nLast Item: ',fruits[-1])
a=len(fruits)
print('The length of above list(named"fruits")is: ',a)
fruits.append('kiwi')
fruits.append('lemon')
print('Now the updated Fruit list is: ',fruits)
fruits.remove('Grapes')
print('Fruits in ascending order: ',sorted(fruits,key=lambda fruit:fruit.lower()))
print('Fruits in descending order: ',sorted(fruits,key=lambda fruit:fruit.lower(),reverse=True))

First Item: Apple
Last Item:  Papaya
The length of above list(named"fruits")is:  5
Now the updated Fruit list is:  ['Apple', 'Orange', 'Grapes', 'Banana', 'Papaya', 'kiwi', 'lemon']
Fruits in ascending order:  ['Apple', 'Banana', 'kiwi', 'lemon', 'Orange', 'Papaya']
Fruits in descending order:  ['Papaya', 'Orange', 'lemon', 'kiwi', 'Banana', 'Apple']

In [ ]:
hollywood=set(['Avatar','Avengers','Starwars','Gravity','Titanic','JurassicPark'])
bollywood=set(['PK','3idiots','Dhoom','Sholay','Dil Se'])
h=len(hollywood)
b=len(bollywood)
print('Number of Movies in the list of hollywood is(that is length of the set hollywood is): ',h,'\nNumer of Movies in the list of bollywood is(The length of the set bollywood): ',b)
bollywood=bollywood.union(set(['83','The Kashmir Files','Atrangi Re','Samshera','RRR']))
bollywood.add('slum dog millionaire')
hollywood.add('slum dog millionaire')
bollywood.add('A Common Man')
hollywood.add('A Common Man')
IntersectionHollywoodBollywood=bollywood.intersection(hollywood)
Union=hollywood.union(bollywood)
bollywood_hollywood=bollywood-hollywood
hollywood_bollywood=hollywood-bollywood
SymmetricDifference=bollywood_hollywood.union(hollywood_bollywood)
print('Union of Bollywood and Hollywood movies is:',Union)
print('Intersection of Hollywood and Bollywood movies is: ',IntersectionHollywoodBollywood)
print('hollywood-bollywood: ',hollywood_bollywood)
print('bollywood\hollywood: ',bollywood_hollywood)
print('Symmetric difference between hollywood and bollywood set: ',SymmetricDifference)

Number of Movies in the list of hollywood is(that is length of the set hollywood is):  6
Numer of Movies in the list of bollywood is(The length of the set bollywood):  5
Union of Bollywood and Hollywood movies is: {'Starwars', 'JurassicPark', 'Dhoom', 'Avatar', 'Samshera', 'A Common Man', 'Dil Se', 'The Kashmir Files', 'Atrangi Re', 'slum dog millionaire', 'RRR', 'Titanic', '83', 'Gravity', 'PK', 'Sholay', 'Avengers', '3idiots'}
Intersection of Hollywood and Bollywood movies is:  {'slum dog millionaire', 'A Common Man'}
hollywood-bollywood:  {'Starwars', 'Titanic', 'JurassicPark', 'Gravity', 'Avatar', 'Avengers'}
bollywood\hollywood:  {'RRR', '83', 'Dhoom', 'PK', 'Samshera', '3idiots', 'Sholay', 'Atrangi Re', 'Dil Se', 'The Kashmir Files'}
Symmetric difference between hollywood and bollywood set:  {'Starwars', 'RRR', 'Titanic', '83', 'JurassicPark', 'Dhoom', 'Gravity', 'PK', 'Avatar', 'Samshera', '3idiots', 'Sholay', 'Atrangi Re', 'Dil Se', 'Avengers', 'The Kashmir Files'}

In [ ]:
fruits_price={'Apple':150,'Orange':80,'Grapes':60,'Banana':40,'Papaya':100}
print('The length of the dictionary: ',len(fruits_price))
print('List of Fruits available: ',list(fruits_price.keys()))
for tmp in range (6):
  FruitName=input('Enter additional fruit names'+str(tmp+1)+':')
  FruitPrice=int(input('Enter corresponding Fruit price'+str(tmp+1)+':'))
  fruits_price[FruitName]=FruitName
print('Updated available Fruits::',list(fruits_price.keys()))

The length of the dictionary:  5
List of Fruits available:  ['Apple', 'Orange', 'Grapes', 'Banana', 'Papaya']
Enter additional fruit names1:Mango
Enter corresponding Fruit price1:100
Enter additional fruit names2:Pomegranate
Enter corresponding Fruit price2:200
Enter additional fruit names3:Peach
Enter corresponding Fruit price3:100
Enter additional fruit names4:Pineapple
Enter corresponding Fruit price4:60
Enter additional fruit names5:Cherry
Enter corresponding Fruit price5:20
Enter additional fruit names6:Apricot
Enter corresponding Fruit price6:70
Updated available Fruits:: ['Apple', 'Orange', 'Grapes', 'Banana', 'Papaya', 'Mango', 'Pomegranate', 'Peach', 'Pineapple', 'Cherry', 'Apricot']